name: security scanning hooks

on:
  push:
      branches: 
         - '**'
  pull_request:
    branches:
         - '**'

jobs:
  security-scan:
    name: Trivy Security Scan
    runs-on: ubuntu-latest

    steps:
    # Step 1. Check out the source code.
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Trivy DB
        uses: actions/cache@v4
        with:
          path: ~/.cache/trivy
          key: trivy-db

    # Step 2: install trivy for transparency & control
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update


        # Output for logs
      - name: Trivy scan (table output)
        run: |
          trivy fs . \
            --scanners vuln,secret,config \
            --severity HIGH,CRITICAL \
            --ignore-unfixed \
            --exit-code 1 \
            --format table
            

          
